.body, h1 {
	font-family: sans-serif;
}

.container {
	margin-top: 60px;
	padding-top: 20px;
	border: 1px solid #000;
	height: 300px;
}

.container, .buttons, .result {
	text-align: center;	
}

h1 {
	font-size: 40px;
}

h1, .inputs, .buttons {
	margin-bottom: 20px;
}

.result {
	display: none;
}

.error-messages {
	padding: 5px 0 5px 0;
	background-color: red;
	display: none;
	color: white;
	margin-bottom: 20px;
}
